:root {
    --colour-primary-bg: #fff5e8;
    --colour-primary: #b60016;
    --colour-primary-hover: #ffea00;

    --colour-secondary-bg: #fff5e8;
    --colour-secondary: #b60016;
    --colour-secondary-hover: #fea90c;
}

.dark {
    --colour-primary-bg: #b60016;
    --colour-primary: #f5f5f5;
    --colour-primary-hover: #ffffff;

    --colour-secondary-bg: #4f4f4f;
    --colour-secondary: #4aff7a;
    --colour-secondary-hover: #2effdc;
}
